/*this is a modified version of this https://github.com/SocketByte/.dotfiles-sway/blob/master/.config/sway/config*/

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 9pt;
  color: white;
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
}

window#waybar {
  background: #1b182c;
}

#window,
#memory,
#disk,
#pulseaudio,
#custom-weather,
#cpu {
  padding-left: 1rem;
  padding-right: 1rem;
}

#custom-weather {
  padding-left: 2rem;
  font-weight: bold;
}

#workspaces {
  background: #1b182c;
  color: #1b182c;
  font-weight: bold;
  border-radius: 0 .3rem .3rem 0;
}
#workspaces button {
  background: transparent;
}

#workspaces button.focused {
  background: #1b182c;
  border-radius: 1rem;
}
